/* Style the scrollbar for the output panel */
.output-terminal::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .output-terminal::-webkit-scrollbar-track {
    background-color: #1e1e1e; /* Track (background) of the scrollbar */
  }
  
  .output-terminal::-webkit-scrollbar-thumb {
    background-color: #333; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Round the corners of the scrollbar thumb */
  }
  
  .output-terminal::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb when hovered */
  }

  .other-cursor {
    width: 2px;
    background-color: red;
    position: absolute;
}

.after-cursor::after {
    content: '';
    width: 2px;
    background-color: red;
    height: 1.2em;
    display: inline-block;
    position: relative;
}

  